rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Generic rule for all user-data collections
    // Users can only read/write documents where the userId field matches their own UID.
    match /{collection}/{document} {
      allow read, update, delete: if request.auth != null && resource.data.userId == request.auth.uid;
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }
  }
}
